<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="/css/xamavan.css" />
  </head>

  <body>
    <%- include("../partials/nav") %>
    <%- body %>
    <%- include("../partials/scripts") %>
    <%- script %>
  </body>
</html>
